/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
* {
  /*font-family: 'Roboto Slab', sans-serif;*/
  font-family: 'Bree Serif', serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: -9999;
}
#app{
  color: white;
}
.navbar{
  background-color: rgba(0,0,0,0.5);
}
